---
import { Icon } from "astro-icon/components"
import NavSub from "./NavSub.astro"
import NavMain from "./NavMain.astro"
---

<header class="mx-auto w-full max-w-[1440px] px-[3.75rem] pt-8">
	<div class="relative flex justify-between pb-8 pt-8 md:px-[3.75rem] md:pb-0">
		<a href="#">
			<Icon class="h-[50px] w-48" name="logo" aria-label="Accelerate Okanagan logo" />
		</a>
		<div class="flex w-full flex-col items-end gap-4">
			<NavSub />
			<NavMain />
		</div>
	</div>
</header>
