---
import { getImage } from "astro:assets"
import hero from "@assets/Hero-1920x1080-1.jpg"
import { Icon } from "astro-icon/components"
import ButtonLink from "./ButtonLink.astro"

const bgHero = await getImage({ src: hero, quality: "mid" })
---

<section class="relative min-h-dvh w-full">
	<div
		class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-40"
		style=`background-image: url('${bgHero.src}');`>
	</div>
	<div class="mx-auto flex h-full max-w-[1440px] flex-col justify-between p-14">
		<div class="flex grow items-center">
			<div class="w-full max-w-fit space-y-6 bg-white/90 p-14 backdrop-opacity-50">
				<div class="font-playfair text-4xl text-neutral-900">
					<div class="">We give entrepreneurs the</div>
					<div class="">mentorship, connections, and</div>
					<div class="">community they need to</div>
					<div class="">build technology-driven</div>
					<div class="">ventures.</div>
				</div>
				<div class="h-[3px] w-8 bg-primary"></div>
				<ButtonLink href="#">Join Us</ButtonLink>
			</div>
		</div>
		<div class="flex gap-2">
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-2 hover:text-primary" href="#">
					<div class="font-rajdhani text-lg font-bold uppercase leading-tight">
						Okanagan Tech Hits $4.98M Economic Impact
					</div>
					<p class="text-sm text-neutral-600">
						Read the Latest Tech Sector Report<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-2 hover:text-primary" href="#">
					<div class="leading-tightuppercase font-rajdhani text-lg font-bold">
						Okanagan Tech Hits $4.98M Economic Impact
					</div>
					<p class="text-sm text-neutral-600">
						Read the Latest Tech Sector Report<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-2 hover:text-primary" href="#">
					<div class="font-rajdhani text-lg font-bold uppercase leading-tight">
						Okanagan Tech Hits $4.98M Economic Impact
					</div>
					<p class="text-sm text-neutral-600">
						Read the Latest Tech Sector Report<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
		</div>
	</div>
</section>
