---
import { getImage, Image } from "astro:assets"
import hero from "@assets/Hero-1920x1080-1.jpg"
import { Icon } from "astro-icon/components"
import ButtonLink from "./ButtonLink.astro"

const bgHero = await getImage({ src: hero, quality: "mid" })
---

<section class="relative grid min-h-dvh w-full">
	<Image
		class="absolute inset-0 h-full w-full object-cover opacity-40"
		src={hero}
		alt="Crowd of people networking at an event"
		loading="eager"
	/>
	<div
		class="mx-auto flex h-full w-full max-w-[1440px] flex-col justify-between px-12 pb-3 pt-12 md:px-14 md:pt-24">
		<div class="flex grow items-center">
			<div
				class="w-full max-w-fit space-y-6 bg-white/90 p-6 backdrop-opacity-50 md:w-3/4 md:p-14 lg:w-3/5 xl:w-[45%]">
				<div class="text-balance font-playfair text-2xl text-neutral-900 md:text-5xl lg:text-4xl">
					We give entrepreneurs the mentorship, connections, and community they need to build
					technology-driven ventures
				</div>
				<div class="h-[3px] w-8 bg-primary"></div>
				<ButtonLink href="#">Join Us</ButtonLink>
			</div>
		</div>
		<div class="flex flex-col gap-2 md:flex-row">
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-1.5 hover:text-primary" href="#">
					<div class="font-rajdhani text-lg font-bold uppercase leading-[1.125]">
						Okanagan Tech Hits $4.98M Economic Impact
					</div>
					<p class="text-sm text-neutral-600">
						Read the Latest Tech Sector Report<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-1.5 hover:text-primary" href="#">
					<div class="font-rajdhani text-lg font-bold uppercase leading-[1.125]">
						Stay Up To Date on OKGNtech News
					</div>
					<p class="text-sm text-neutral-600">
						Visit the AO Blog for the latest stories and articles<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
			<div class="max-w-64 bg-white/90 p-6 backdrop-opacity-50">
				<a class="flex flex-col gap-1.5 hover:text-primary" href="#">
					<div class="font-rajdhani text-lg font-bold uppercase leading-[1.125]">
						Become an Accelerate Okanagan Member
					</div>
					<p class="text-sm text-neutral-600">
						Join the member network and access all the perks<span
							><Icon
								class="inline-block size-4 text-primary"
								name="mdi:chevron-double-right"
								aria-hidden="true"
							/></span
						>
					</p>
				</a>
			</div>
		</div>
	</div>
</section>
